button {
    margin: auto;
    border: none;
    padding: 10px;
    max-width: 10rem;
    min-width: 8rem;
    background: dodgerblue;
    color: white;
}
.input-field {
   
    border: 1px solid gray !important;
    padding: 0 8px;
}
.add-product-text {
    color: white;
    margin-left: 4px;
    background-color: orange;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 2px 11px 8px gray;
    margin-bottom: 10px;
}
*{
    font-weight: 600;
}
.margin-5 {
    margin: 5px;
}
::placeholder {
    color: gray !important;
    padding-top: 10px;
}